<div class="container">
  <h1><%= @cocktail.name.capitalize %></h1>
  <%= cl_image_tag @cocktail.photo, height: 300, width: 600, crop: :fill %>
  <ul>
    <% @cocktail.doses.each do |dose| %>
    <li class="list-ingredient">
      <%= "#{dose.description.capitalize} - #{dose.ingredient.name.capitalize}" %>
      <%= link_to "Delete", dose_path(dose), method: :delete, class:"btn btn-info btn-list"  %>
    </li>
    <% end %>
  </ul>
  <%= link_to "Add an ingredient", new_cocktail_dose_path(@cocktail), class:"btn btn-success"  %>
  <%= link_to "Back", cocktails_path, class:"btn btn-success" %>
</div>
